@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://unpkg.com/swiper/swiper-bundle.min.css');
@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');

@import "vars";
@import "mixins";

html {
    font-size: 62.5%;
}

body {
	font-family: 'Lato', sans-serif;
    color: #848789;
    font-size: 1.6rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-decoration: none;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



// Blocks
@import "blocks/wrap";
@import "blocks/mainscreen";
@import "blocks/header";
@import "blocks/main-logo";
@import "blocks/nav";
@import "blocks/container";
@import "blocks/block";
@import "blocks/generation";
@import "blocks/brands";
@import "blocks/comments";
@import "blocks/shop";
@import "blocks/form";
@import "blocks/contacts";
@import "blocks/social";
@import "blocks/footer";