.block {
    text-align: center;

    &__icon {
        margin-bottom: 2rem;
    }

    &__title {
        font-size: 1.8rem;
        color: #353738;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.8;

        &_line::after {
            content: "";
            width: 50px;
            height: 1px;
            background-color: #282f35;
            display: block;
            margin: 35px auto 0 auto;
        }
    }
}