.comments {
    padding: 12.5rem 0 6.5rem;
    background-color: #f7f7f7;

    .swiper-container {
        min-height: 250px;
    }

    .swiper-pagination-bullet-active {
        background: rgb(53, 55, 56);
    }
}